<h1>Editar Banner</h1>

<%= form_with(model: [:dashboard, @banner], local: true, html: { multipart: true }) do |f| %>
  <div class="mb-3">
    <%= f.label :titulo, "Título" %>
    <%= f.text_field :titulo, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :descripcion, "Descripción" %>
    <%= f.text_area :descripcion, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :tipo, "Tipo" %>
    <%= f.select :tipo, [["Principal", "principal"], ["Secundario", "secundario"]], {}, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :link, "Link" %>
    <%= f.text_field :link, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :imagen, "Imagen" %>
    <%= f.file_field :imagen, class: "form-control" %>
    <% if @banner.imagen.attached? %>
      <div class="mt-2">
        <%= image_tag @banner.imagen.variant(resize_to_limit: [100, 50]), class: "img-thumbnail" %>
      </div>
    <% end %>
  </div>
  <div class="mb-3">
    <%= f.label :imagen_mobile, "Imagen (mobile, opcional)" %>
    <%= f.file_field :imagen_mobile, class: "form-control" %>
    <% if @banner.imagen_mobile.attached? %>
      <div class="mt-2">
        <%= image_tag @banner.imagen_mobile.variant(resize_to_limit: [100, 50]), class: "img-thumbnail" %>
      </div>
    <% end %>
  </div>
  <%= f.submit "Guardar", class: "btn btn-primary" %>
  <%= link_to "Volver", dashboard_banners_path, class: "btn btn-secondary ms-2" %>
<% end %>
