        <footer class="site__footer">
            <div class="site-footer">
                <div class="container">
                    <div class="site-footer__widgets">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="site-footer__widget footer-contacts">
                                    <h5 class="footer-contacts__title">Contacto</h5>
                                    <div class="footer-contacts__text">
                                        ¿Tenés dudas? Escribinos o visitanos. Estamos para ayudarte.
                                    </div>
                                    <ul class="footer-contacts__contacts">
                                        <li><i class="footer-contacts__icon fas fa-globe-americas"></i> Av. Mariscal López 1234, Asunción, Paraguay</li>
                                        <li><i class="footer-contacts__icon far fa-envelope"></i> contacto@fascy.com.py</li>
                                        <li><i class="footer-contacts__icon fas fa-mobile-alt"></i> (021) 209 123</li>
                                        <li><i class="footer-contacts__icon fab fa-whatsapp"></i> +595 981 123 456</li>
                                        <li><i class="footer-contacts__icon far fa-clock"></i> Lun-Vie 8:00 - 19:00 / Sáb 8:00 - 13:00</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-6 col-md-3 col-lg-2">
                                <div class="site-footer__widget footer-links">
                                    <h5 class="footer-links__title">Información</h5>
                                    <ul class="footer-links__list">
                                        <li class="footer-links__item"><%= link_to 'Sobre nosotros', sobre_nosotros_path, class: 'footer-links__link' %></li>
                                        <li class="footer-links__item"><%= link_to 'Sucursales', sucursales_path, class: 'footer-links__link' %></li>
                                        <li class="footer-links__item"><%= link_to 'Contacto', contacto_path, class: 'footer-links__link' %></li>
                                        <li class="footer-links__item"><a href="#" class="footer-links__link">Envíos y entregas</a></li>
                                        <li class="footer-links__item"><a href="#" class="footer-links__link">Política de privacidad</a></li>
                                        <li class="footer-links__item"><a href="#" class="footer-links__link">Devoluciones</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-6 col-md-3 col-lg-2">
                                <div class="site-footer__widget footer-links">
                                    <h5 class="footer-links__title">Mi cuenta</h5>
                                    <ul class="footer-links__list">
                                        <li class="footer-links__item"><a href="#" class="footer-links__link">Mis pedidos</a></li>
                                        <li class="footer-links__item"><a href="#" class="footer-links__link">Lista de deseos</a></li>
                                        <li class="footer-links__item"><a href="#" class="footer-links__link">Boletín</a></li>
                                        <li class="footer-links__item"><a href="#" class="footer-links__link">Ofertas</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-4">
                                <div class="site-footer__widget footer-newsletter">
                                    <h5 class="footer-newsletter__title">Boletín</h5>
                                    <div class="footer-newsletter__text">
                                        Suscribite para recibir novedades y ofertas exclusivas.
                                    </div>
                                    <%= render 'home/newsletter_form' %>
                                    <div class="footer-newsletter__text footer-newsletter__text--social">
                                        Seguinos en redes sociales
                                    </div>
                                    <!-- social-links -->
                                    <div class="social-links footer-newsletter__social-links social-links--shape--circle">
                                        <ul class="social-links__list">
                                            <li class="social-links__item">
                                                <a class="social-links__link social-links__link--type--facebook" href="https://facebook.com/fascy" target="_blank" rel="noopener" aria-label="Facebook">
                                                    <i class="fab fa-facebook-f"></i>
                                                </a>
                                            </li>
                                            <li class="social-links__item">
                                                <a class="social-links__link social-links__link--type--instagram" href="https://instagram.com/fascy" target="_blank" rel="noopener" aria-label="Instagram">
                                                    <i class="fab fa-instagram"></i>
                                                </a>
                                            </li>
                                            <li class="social-links__item">
                                                <a class="social-links__link social-links__link--type--whatsapp" href="https://wa.me/595981123456" target="_blank" rel="noopener" aria-label="WhatsApp">
                                                    <i class="fab fa-whatsapp"></i>
                                                </a>
                                            </li>
                                            <li class="social-links__item">
                                                <a class="social-links__link social-links__link--type--tiktok" href="https://tiktok.com/@fascy" target="_blank" rel="noopener" aria-label="TikTok">
                                                    <i class="fab fa-tiktok"></i>
                                                </a>
                                            </li>
                                            <li class="social-links__item">
                                                <a class="social-links__link social-links__link--type--youtube" href="https://youtube.com/@fascy" target="_blank" rel="noopener" aria-label="YouTube">
                                                    <i class="fab fa-youtube"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- social-links / end -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="site-footer__bottom">
                        <div class="site-footer__copyright">
                            © <%= Time.current.year %> Fascy
                        </div>
                        <div class="site-footer__payments">
                            <%= image_tag 'payments.png', alt: 'Métodos de pago' %>
                        </div>
                    </div>
                </div>
                <div class="totop">
                    <div class="totop__body">
                        <div class="totop__start"></div>
                        <div class="totop__container container"></div>
                        <div class="totop__end">
                            <button type="button" class="totop__button" aria-label="Volver arriba">
                                <svg width="13px" height="8px">
                                    <use xlink:href="<%= asset_path('sprite.svg#arrow-rounded-up-13x8') %>"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
