      
                        <div class="block block-products-carousel" data-layout="grid-4" data-mobile-grid-columns="2">
                                <style>
                                    /* hover effect for featured products */
                                    .block-products-carousel .product-card__image{background:#fff;padding:8px;border-radius:8px}
                                    .block-products-carousel .product-card__image .product-image__img{
                                        transition: transform .6s cubic-bezier(.2,.8,.2,1), box-shadow .6s ease;
                                        will-change: transform;
                                    }
                                    .block-products-carousel .product-card__image:hover .product-image__img,
                                    .block-products-carousel .product-card__image:focus-within .product-image__img{
                                        transform: translateY(-6px) scale(1.03);
                                        box-shadow: 0 10px 20px rgba(0,0,0,0.12);
                                    }
                                </style>
                <div class="container">
                    <div class="block-header">
                        <div style="display: flex; align-items: center; justify-content: space-between;">
                            <h3 class="block-header__title" style="margin-bottom: 0;">Productos destacados</h3>
                            
                        </div>
                        <div class="block-header__divider"></div>
                        <%= link_to 'Ver todos', home_categoria_path('destacados'), class: 'btn btn-outline-primary btn-lg' %>
                    </div>
                    <div class="block-products-carousel__slider">
                        <div class="block-products-carousel__preloader"></div>

                        <div class="owl-carousel">
                            <% @productos_destacados.each do |producto| %>
                                <div class="block-products-carousel__column">
                                    <div class="block-products-carousel__cell">
                                        <div class="product-card product-card--hidden-actions ">
                                            <button class="product-card__quickview" type="button">
                                                <svg width="16px" height="16px">
                                                    <use xlink:href="images/sprite.svg#quickview-16"></use>
                                                </svg>
                                                <span class="fake-svg-icon"></span>
                                            </button>
                                            <div class="product-card__badges-list">
                                                <div class="product-card__badge product-card__badge--new">Destacados</div>
                                            </div>
                                            <div class="product-card__image product-image">
                                                <a href="<%= home_productos_detalle_path(producto.id) %>" class="product-image__body">
                                                                                                         <% portada = producto.imagen_portada || producto.portada %>
                                                                                                         <% if portada.present? %>
                                                                                                             <%= image_tag portada, class: "product-image__img", alt: producto.caracteristica %>
                                                                                                         <% else %>
                                                                                                             <img class="product-image__img" src="images/products/default.jpg" alt="<%= producto.caracteristica %>">
                                                                                                         <% end %>
                                                </a>
                                            </div>
                                            <div class="product-card__info">
                                                <div class="product-card__name">
                                                    <a href="<%= home_productos_detalle_path(producto.id) %>"> <%= producto.caracteristica %> </a>
                                                </div>
                                                <div class="product-card__rating">
                                                    <div class="product-card__rating-stars">
                                                        <div class="rating">
                                                            <div class="rating__body">
                                                                <svg class="rating__star rating__star--active" width="13px" height="12px">
                                                                    <g class="rating__fill">
                                                                        <use xlink:href="images/sprite.svg#star-normal"></use>
                                                                    </g>
                                                                    <g class="rating__stroke">
                                                                        <use xlink:href="images/sprite.svg#star-normal-stroke"></use>
                                                                    </g>
                                                                </svg>
                                                                <div class="rating__star rating__star--only-edge rating__star--active">
                                                                    <div class="rating__fill">
                                                                        <div class="fake-svg-icon"></div>
                                                                    </div>
                                                                    <div class="rating__stroke">
                                                                        <div class="fake-svg-icon"></div>
                                                                    </div>
                                                                </div>
                                                                <svg class="rating__star rating__star--active" width="13px" height="12px">
                                                                    <g class="rating__fill">
                                                                        <use xlink:href="images/sprite.svg#star-normal"></use>
                                                                    </g>
                                                                    <g class="rating__stroke">
                                                                        <use xlink:href="images/sprite.svg#star-normal-stroke"></use>
                                                                    </g>
                                                                </svg>
                                                                <div class="rating__star rating__star--only-edge rating__star--active">
                                                                    <div class="rating__fill">
                                                                        <div class="fake-svg-icon"></div>
                                                                    </div>
                                                                    <div class="rating__stroke">
                                                                        <div class="fake-svg-icon"></div>
                                                                    </div>
                                                                </div>
                                                                <svg class="rating__star rating__star--active" width="13px" height="12px">
                                                                    <g class="rating__fill">
                                                                        <use xlink:href="images/sprite.svg#star-normal"></use>
                                                                    </g>
                                                                    <g class="rating__stroke">
                                                                        <use xlink:href="images/sprite.svg#star-normal-stroke"></use>
                                                                    </g>
                                                                </svg>
                                                                <div class="rating__star rating__star--only-edge rating__star--active">
                                                                    <div class="rating__fill">
                                                                        <div class="fake-svg-icon"></div>
                                                                    </div>
                                                                    <div class="rating__stroke">
                                                                        <div class="fake-svg-icon"></div>
                                                                    </div>
                                                                </div>
                                                                <svg class="rating__star rating__star--active" width="13px" height="12px">
                                                                    <g class="rating__fill">
                                                                        <use xlink:href="images/sprite.svg#star-normal"></use>
                                                                    </g>
                                                                    <g class="rating__stroke">
                                                                        <use xlink:href="images/sprite.svg#star-normal-stroke"></use>
                                                                    </g>
                                                                </svg>
                                                                <div class="rating__star rating__star--only-edge rating__star--active">
                                                                    <div class="rating__fill">
                                                                        <div class="fake-svg-icon"></div>
                                                                    </div>
                                                                    <div class="rating__stroke">
                                                                        <div class="fake-svg-icon"></div>
                                                                    </div>
                                                                </div>
                                                                <svg class="rating__star " width="13px" height="12px">
                                                                    <g class="rating__fill">
                                                                        <use xlink:href="images/sprite.svg#star-normal"></use>
                                                                    </g>
                                                                    <g class="rating__stroke">
                                                                        <use xlink:href="images/sprite.svg#star-normal-stroke"></use>
                                                                    </g>
                                                                </svg>
                                                                <%# <div class="rating__star rating__star--only-edge ">
                                                                    <div class="rating__fill">
                                                                        <div class="fake-svg-icon"></div>
                                                                    </div>
                                                                    <div class="rating__stroke">
                                                                        <div class="fake-svg-icon"></div>
                                                                    </div>
                                                                </div> %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                          
                        </div>
                    </div>
                </div>
            </div>