<!-- site -->
<div class="site">
    <div class="site__body">
        <!-- .block-slideshow -->
        <div class="block-slideshow block-slideshow--layout--with-departments block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 d-none d-lg-block"></div>
                    <div class="col-12 col-lg-12">
                        <div class="block-slideshow__body">
                            <div class="owl-carousel">
                                <% @banners_principales.each do |banner| %>
                                    <a class="block-slideshow__slide" href="<%= banner.link %>">
                                        <% if banner.imagen.attached? %>
                                            <div class="block-slideshow__slide-image block-slideshow__slide-image--desktop" style="background-image: url('<%= url_for(banner.imagen) %>')"></div>
                                            <div class="block-slideshow__slide-image block-slideshow__slide-image--mobile" style="background-image: url('<%= url_for(banner.imagen) %>')"></div>
                                        <% end %>
                                        <div class="block-slideshow__slide-content">
                                            <div class="block-slideshow__slide-title"><%= banner.titulo %></div>
                                            <div class="block-slideshow__slide-text"><%= banner.descripcion %></div>
                                            <div class="block-slideshow__slide-button">
                                                <span class="btn btn-primary btn-lg">Ver más</span>
                                            </div>
                                        </div>
                                    </a>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
         <div class="block block-features block-features--layout--classic">
                <div class="container">
                    <div class="block-features__list">
                        <div class="block-features__item">
                            <div class="block-features__icon">
                                <svg width="48px" height="48px">
                                    <use xlink:href="images/sprite.svg#fi-free-delivery-48"></use>
                                </svg>
                            </div>
                            <div class="block-features__content">
                                <div class="block-features__title">Free Shipping</div>
                                <div class="block-features__subtitle">For orders from $50</div>
                            </div>
                        </div>
                        <div class="block-features__divider"></div>
                        <div class="block-features__item">
                            <div class="block-features__icon">
                                <svg width="48px" height="48px">
                                    <use xlink:href="images/sprite.svg#fi-24-hours-48"></use>
                                </svg>
                            </div>
                            <div class="block-features__content">
                                <div class="block-features__title">Support 24/7</div>
                                <div class="block-features__subtitle">Call us anytime</div>
                            </div>
                        </div>
                        <div class="block-features__divider"></div>
                        <div class="block-features__item">
                            <div class="block-features__icon">
                                <svg width="48px" height="48px">
                                    <use xlink:href="images/sprite.svg#fi-payment-security-48"></use>
                                </svg>
                            </div>
                            <div class="block-features__content">
                                <div class="block-features__title">100% Safety</div>
                                <div class="block-features__subtitle">Only secure payments</div>
                            </div>
                        </div>
                        <div class="block-features__divider"></div>
                        <div class="block-features__item">
                            <div class="block-features__icon">
                                <svg width="48px" height="48px">
                                    <use xlink:href="images/sprite.svg#fi-tag-48"></use>
                                </svg>
                            </div>
                            <div class="block-features__content">
                                <div class="block-features__title">Hot Offers</div>
                                <div class="block-features__subtitle">Discounts up to 90%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        
        <!-- .block-slideshow / end -->
            <%= render 'productos_destacados' %>
            <!-- Aquí continúa el resto del contenido original de la página -->

            <%= render 'banner_secundario' %>  

            <%= render 'productos_promo' %>
    </div>
</div>