<% content_for :title, @producto.caracteristica.to_s %>
<% content_for :meta_description, (@producto.descripcion.presence || @producto.datos_tecnicos.presence || "Comprá #{@producto.caracteristica} al mejor precio en Fascy. Calidad garantizada y envíos a todo el país.") %>
<% if @producto.imagen_portada.present? %>
  <% content_for :meta_image, url_for(@producto.imagen_portada.variant(resize_to_limit: [1200, 630])) %>
<% end %>

<% content_for :head do %>
  <%= json_ld_product(@producto) %>
  <%
    crumbs = [["Inicio", root_url]]
    if @producto.categoria.present?
      crumbs << [@producto.categoria.nombre, home_categoria_url(@producto.categoria)]
    end
    if @producto.subcategoria.present?
      crumbs << [@producto.subcategoria.nombre, home_categoria_url(@producto.subcategoria)]
    end
    crumbs << [@producto.caracteristica, home_productos_detalle_url(@producto)]
  %>
  <%= json_ld_breadcrumbs(crumbs) %>
<% end %>

    <div id="quickview-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content"></div>
        </div>
    </div>
<div class="site__body">
            <div class="page-header">
                <div class="page-header__container container">
                    <div class="page-header__breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/">INICIO</a>
                                    <svg class="breadcrumb-arrow" width="6px" height="9px">
                                        <use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use>
                                    </svg>
                                </li>
                                <li class="breadcrumb-item">
                                    <%= link_to home_categoria_path(@producto.subcategoria), data: { turbo_frame: "productos-detalle" } do %>
                                             <%= @producto.subcategoria.nombre %>
                                    <% end %>
                                    
                                   
                                    <svg class="breadcrumb-arrow" width="6px" height="9px">
                                        <use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use>
                                    </svg>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page"><%= @producto.caracteristica %></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="container">
                    <div class="product product--layout--standard" data-layout="standard">
                        <div class="product__content">
                            <div class="product__gallery">
                                <div class="product-gallery">

                                    <% portada = @producto.imagen_portada
                                        ordered = @producto.imagenes.to_a
                                        if portada && ordered.first != portada
                                            ordered.delete(portada)
                                            ordered.unshift(portada)
                                        end %>
                                    <div class="product-gallery__featured">
                                        <button class="product-gallery__zoom">
                                            <svg width="24px" height="24px">
                                                <use xlink:href="images/sprite.svg#zoom-in-24"></use>
                                            </svg>
                                        </button>

                                        <div class="owl-carousel" id="product-image">

                                              <% ordered.each_with_index do |att,i| %>
                                                    <div class="product-image product-image--location--gallery" data-index="<%= i %>">
                                                       <a href="<%= url_for(att.variant(resize_to_limit: [700,700]).processed) %>" data-width="700" data-height="700" class="product-image__body" >
                                                             <%= image_tag att.variant(resize_to_limit: [700,700]).processed,class: "product-image__img",alt: @producto.caracteristica %>
                                                        </a>
                                                    </div>
                                                <% end %>
                                         </div>   
                                    </div>



                                    <div class="product-gallery__carousel">
                                        <div class="owl-carousel" id="product-carousel">
                                                <% ordered.each_with_index do |att,i| %>
                                                   <a href="javascript:void(0)" class="product-image product-gallery__carousel-item" data-slide="<%= i %>">
                                                        <div class="product-image__body">
                                                        <%= image_tag att.variant(resize_to_limit: [120,120]).processed,
                                                                        class: "product-image__img product-gallery__carousel-image",
                                                                        alt: @producto.caracteristica %>
                                                        </div>
                                                   </a>
                                                <% end %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- .product__gallery / end -->
                            <!-- .product__info -->
                            <div class="product__info">
                                <div class="product__wishlist-compare">
                                    <button type="button" class="btn btn-sm btn-light btn-svg-icon" data-toggle="tooltip" data-placement="right" title="Wishlist">
                                        <svg width="16px" height="16px">
                                            <use xlink:href="images/sprite.svg#wishlist-16"></use>
                                        </svg>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-light btn-svg-icon" data-toggle="tooltip" data-placement="right" title="Compare">
                                        <svg width="16px" height="16px">
                                            <use xlink:href="images/sprite.svg#compare-16"></use>
                                        </svg>
                                    </button>
                                </div>
                                <h1 class="product__name"><%= @producto.caracteristica %></h1>
                                <div class="product__rating">
                                    <div class="product__rating-stars">
                                        <div class="rating">
                                            <div class="rating__body">
                                                <svg class="rating__star rating__star--active" width="13px" height="12px">
                                                    <g class="rating__fill">
                                                        <use xlink:href="images/sprite.svg#star-normal"></use>
                                                    </g>
                                                    <g class="rating__stroke">
                                                        <use xlink:href="images/sprite.svg#star-normal-stroke"></use>
                                                    </g>
                                                </svg>
                                                <div class="rating__star rating__star--only-edge rating__star--active">
                                                    <div class="rating__fill">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                    <div class="rating__stroke">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                </div>
                                                <svg class="rating__star rating__star--active" width="13px" height="12px">
                                                    <g class="rating__fill">
                                                        <use xlink:href="images/sprite.svg#star-normal"></use>
                                                    </g>
                                                    <g class="rating__stroke">
                                                        <use xlink:href="images/sprite.svg#star-normal-stroke"></use>
                                                    </g>
                                                </svg>
                                                <div class="rating__star rating__star--only-edge rating__star--active">
                                                    <div class="rating__fill">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                    <div class="rating__stroke">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                </div>
                                                <svg class="rating__star rating__star--active" width="13px" height="12px">
                                                    <g class="rating__fill">
                                                        <use xlink:href="images/sprite.svg#star-normal"></use>
                                                    </g>
                                                    <g class="rating__stroke">
                                                        <use xlink:href="images/sprite.svg#star-normal-stroke"></use>
                                                    </g>
                                                </svg>
                                                <div class="rating__star rating__star--only-edge rating__star--active">
                                                    <div class="rating__fill">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                    <div class="rating__stroke">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                </div>
                                                <svg class="rating__star rating__star--active" width="13px" height="12px">
                                                    <g class="rating__fill">
                                                        <use xlink:href="images/sprite.svg#star-normal"></use>
                                                    </g>
                                                    <g class="rating__stroke">
                                                        <use xlink:href="images/sprite.svg#star-normal-stroke"></use>
                                                    </g>
                                                </svg>
                                                <div class="rating__star rating__star--only-edge rating__star--active">
                                                    <div class="rating__fill">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                    <div class="rating__stroke">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                </div>
                                                <svg class="rating__star rating__star--active" width="13px" height="12px">
                                                    <g class="rating__fill">
                                                        <use xlink:href="images/sprite.svg#star-normal"></use>
                                                    </g>
                                                    <g class="rating__stroke">
                                                        <use xlink:href="images/sprite.svg#star-normal-stroke"></use>
                                                    </g>
                                                </svg>
                                                <div class="rating__star rating__star--only-edge rating__star--active">
                                                    <div class="rating__fill">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                    <div class="rating__stroke">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                                                <div class="product__description" style="white-space: pre-wrap;">
                                                                    <% if @producto.descripcion.present? %>
                                                                        <% desc = @producto.descripcion %>
                                                                        <% if desc =~ /<[^>]+>/ %>
                                                                            <%= sanitize(desc).html_safe %>
                                                                        <% else %>
                                                                            <%= simple_format(desc) %>
                                                                        <% end %>
                                                                    <% else %>
                                                                        <p>No hay descripción disponible.</p>
                                                                    <% end %>
                                                                </div>
                                <ul class="product__features">
                                    <li>Speed: 750 RPM</li>
                                    <li>Power Source: Cordless-Electric</li>
                                    <li>Battery Cell Type: Lithium</li>
                                    <li>Voltage: 20 Volts</li>
                                    <li>Battery Capacity: 2 Ah</li>
                                </ul>
                                
                            </div>
                            <!-- .product__info / end -->
                            <!-- .product__sidebar -->
                            <div class="product__sidebar">
                                
                                
                                <!-- .product__options / end -->
                            </div>
                            <!-- .product__end -->
                            
                        </div>
                    </div>
                    <div class="product-tabs  product-tabs--sticky">
                        <div class="product-tabs__list">
                            <div class="product-tabs__list-body">
                                <div class="product-tabs__list-container container">
                                    <a href="#tab-description" class="product-tabs__item product-tabs__item--active">Descripción</a>
                                    <a href="#tab-specification" class="product-tabs__item">Especificación</a>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="product-tabs__content">
                            <div class="product-tabs__pane product-tabs__pane--active" id="tab-description">
                                <div class="typography">
                                  <% if @producto.descripcion.present? %>
                                    <% desc = @producto.descripcion %>
                                    <% if desc =~ /<[^>]+>/ %>
                                      <%= sanitize(desc).html_safe %>
                                    <% else %>
                                      <%= simple_format(desc) %>
                                    <% end %>
                                  <% else %>
                                    <p>No hay descripción disponible para este producto.</p>
                                  <% end %>
                                </div>
                            </div>
                            <div class="product-tabs__pane" id="tab-specification">
                                <div class="typography">
                                  <% if @producto.especificaciones_tecnicas.present? %>
                                    <% spec = @producto.especificaciones_tecnicas %>
                                    <% if spec =~ /<[^>]+>/ %>
                                      <%= sanitize(spec).html_safe %>
                                    <% else %>
                                      <%= simple_format(spec) %>
                                    <% end %>
                                  <% else %>
                                    <p>No hay especificaciones técnicas para este producto.</p>
                                  <% end %>
                                </div>
                            </div>
                  
                        </div>
                    </div>
                </div>
            </div>
                        <!-- Related products (dynamic) -->
                        <div class="container mt-4">
                            <%= render 'home/productos_relacionados', productos: (@producto.related_products || []) %>
                        </div>
            <!-- .block-products-carousel -->
    <!-- photoswipe / end -->

   