<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Fascy Web" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>
 <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i">
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    

   <%# <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %> 


   <%= stylesheet_link_tag 'vendor/bootstrap/css/bootstrap.min','application',
                        'vendor/fontawesome/css/all.min',
                        'vendor/select2/css/select2.min',
                        'vendor/owl-carousel/assets/owl.carousel.min',
                        'vendor/photoswipe/photoswipe',
                        'vendor/photoswipe/default-skin/default-skin',
                        media:'all' %>
<%= javascript_include_tag "application", "data-turbo-track": "reload" %>
  </head>

  <!-- CKEditor ahora se carga vía Stimulus controller -->
   
        

  <body>

      <header>
          <%= render 'layouts/header' %>
     </header>

       <%= yield %>

        <%# <%= javascript_include_tag "application" %>
        <script>
            svg4everybody();
        </script>

  </body>
  <script>
    function initCKEditors() {
      if (window.CKEDITOR) {
        document.querySelectorAll('.ckeditor').forEach(function(area) {
          if (!area.id) {
            area.id = 'ckeditor_' + Math.random().toString(36).substr(2, 9);
          }
          if (CKEDITOR.instances[area.id]) {
            CKEDITOR.instances[area.id].destroy(true);
          }
          setTimeout(function() {
            CKEDITOR.replace(area.id);
          }, 0);
        });
      }
    }
    document.addEventListener('turbo:load', initCKEditors);
    document.addEventListener('DOMContentLoaded', initCKEditors);
  </script>
</html>